<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的mapper接口-->
<mapper namespace="online.niuma.blog.mapper.ContentMapper">

    <insert id="addContent" parameterType="Content">
        insert into xiaocubaoblog_db.tb_content
            (
                content_id, content_text, article_id, create_time, update_time
            )
        values
            (
             #{contentId},
             #{contentText},
             #{articleId},
             #{createTime},
             #{updateTime}
            );
    </insert>


</mapper>
