<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的mapper接口-->
<mapper namespace="online.niuma.blog.mapper.UsersMapper">

    <select id="queryUsersAll" resultType="online.niuma.blog.pojo.Users">
        select * from xiaocubaoblog_db.tb_users;
    </select>

</mapper>
