body {
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #051937, #37365e, #6a5585, #a276aa, #dd98cd);
    background-size : cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
}

.head {
    background-color: #FFCFEE;
    margin-top: 15px;
    border: 1px solid;
    border-radius: 15px;
}

.head-button-div {
    height: 60px;
    margin: auto;
}

.head-button {
    margin-top: 13px;
}

.avatar {
    background-color: #3e8f3e;
    height: 100%;
    margin: 0 auto;
}

.article-div {
    background-color: #00B8A0;
    margin-top: 15px;
}

.article-info {
    width: 100%;
    height: 120px;
    background-color: #3477AF;
    margin-top: 10px;
    border-radius: 15px;
}

.article-info-s {
    width: 100%;
    height: 30px;
}

.article-info-s a {
    font-size: 20px;
    color: #0f0f0f;
    margin-left: 10px;
}

.article-info-z {
    width: 100%;
    height: 60px;
    padding: 0 10px;
}

.article-info-x {
    background-color: crimson;
    width: 100%;
    height: 30px;
}

.article-right-div {
    background-color: #C598F0;
    margin-top: 15px;
}