<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>新增博客</title>
  <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}">
  <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap-theme.css}">
  <link rel="stylesheet" type="text/css" th:href="@{css/addArticle.css}">
  <script type="text/javascript" th:src="@{js/jquery-1.9.1.min.js}"></script>
</head>
<body>
  <div class="container" id="main">
    <p class="lead" style="color: white">被人想起真的是一件很美好的事情.</p>
    <input type="text" class="form-control" placeholder="标题" id="title">
    <textarea class="form-control" rows="20" placeholder="正文" id="content"></textarea>
    <button type="button" class="btn btn-primary" onclick="commitArticle()" id="commit-button">提交</button>
  </div>

  <script>
    function commitArticle() {
        let userId = [[${userInfo.userId}]];
        let articleTitle = $("#title").val()
        let articleContent = $("#content").val()
        $.post(
            '/articles/addArticle',
            {
                userId: userId,
                articleTitle: articleTitle,
                content: articleContent
            },
            function (result) {
                if (result.code == 200) {
                    alert("提交成功")
                    window.location.href='/index'
                } else {
                    alert("错误代码:" + result.code + " , " + result.msg);
                }
            }
        )
    }
  </script>
</body>
</html>