<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>article content page</title>
</head>
<body>
  <input type="hidden" th:value="${articleId}" id="articleId">

  <h1 id="article-title"></h1>
  <p id="article-content"></p>

  <script th:src="@{/js/jquery-1.9.1.min.js}"></script>
  <script>

      let articleId = document.getElementById('articleId').value
      console.log(articleId)
      $.get(
          '/articles/getArticleById/' + articleId,
          function (result) {
              console.log(result)
              $("#article-title").html(result.data.articleTitle)
              $("#article-content").html(result.data.contentText)
          }
      )
  </script>
</body>
</html>