<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>article content page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/content.css}">
</head>
<body>
  <input type="hidden" th:value="${articleId}" id="articleId">

  <div class="container article-info">
    <div class="col-lg-10 col-lg-offset-1 article-title text-center">
      <h1 id="article-title"></h1>
      <hr>
    </div>
    <div class="col-lg-10 col-lg-offset-1 article-content">
        <p id="article-content"></p>
    </div>
    <div class="col-lg-10 col-lg-offset-1 article-author">
      <p id="article-author" class="text-right"></p>
    </div>
    <div class="col-lg-10 col-lg-offset-1 article-date">
      <p id="article-date" class="text-right"></p>
      <hr>
    </div>
  </div>


  <script th:src="@{/js/jquery-1.9.1.min.js}"></script>
  <script>

      let articleId = document.getElementById('articleId').value
      console.log(articleId)
      $.get(
          '/articles/getArticleById/' + articleId,
          function (result) {
              console.log(result)
              $("#article-title").html(result.data.articleTitle)
              $("#article-content").html(result.data.contentText)
              $("#article-author").html(result.data.userName)
              $("#article-date").html(result.data.createTime)
          }
      )
  </script>
</body>
</html>